.sidebar {
  width: 30%;
  height: 100%;
  display: inline-block;
  background-color: blue;
}
.block {
  width: 65%;
  display: inline-block;
  height: 100%;
  background-color: red;
}
span {
  width: 300px;

  background-color: blue;
}
p {
  display: inline-block;
  width: 300px;
}
h1 {
  display: inline-block;
}

.block {
  width: 200px;
  height: 200px;
  background-color: red;
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}
.block1 {
  width: 200px;
  height: 200px;
  background-color: blue;
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}

.wrapper p {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  margin-left: 50px;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 50px;
  vertical-align: middle;
  background-color: salmon;
}

/* positions styles */

header {
  background-color: darkmagenta;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}
section {
  padding-top: 90px;
}

.chat {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: seagreen;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}
.relative {
  position: relative;
  background-color: royalblue;
}
.absolute {
  position: absolute;
  top: 0;
  left: 40px;
}
